%section#about
  .row
    .three.columns
      .profile-pic
        = image_tag "profilepic.jpg"
    .nine.columns.main-col
      %h2 About Me
      %p
        I love learning! I take every opportunity as a chance to gain more knowledge. I am very hard working and enthusiastic. I love computers and games. I have been dedicating most of my time learning how to work around computers and softwares. I like experimenting with the knowledge that I have. Even if I have explored some areas in programming, I am still in it for more! You have knowledge to share? Please tell, I'll listen :)
      .row
        .columns.contact-details
          %h2 Contact Details
          %p.address
            %span Christian Angel Galamay
            %br
              %span
                908 Ma. Luisa Street
                %br
                  Sampaloc, Metro Manila
              %br
                %span 0906-949-0280
                %br
                  %span chrono0424@gmail.com
        .columns.download
          %p
            %a.button{:href => "#"}
              %i.fa.fa-download>
              Download Resume
      / end row
    / end .main-col
/ About Section End