%section#call-to-action
  .row
    .two.columns.header-col
      %h1
        %span Get Hosting.
    .seven.columns
      %h2
        %a{:href => "http://www.dreamhost.com/r.cgi?287326|STYLESHOUT"} Host This Template on Dreamhost.
      %p
        Looking for an awesome and reliable webhosting? Try
        = succeed "." do
          %a{:href => "http://www.dreamhost.com/r.cgi?287326|STYLESHOUT"}
            %span DreamHost
        Get
        %span $50 off
        when you sign up with the promocode
        = succeed "." do
          %span STYLESHOUT
        / Simply type the promocode in the box labeled “Promo Code” when placing your order.
    .three.columns.action
      %a.button{:href => "http://www.dreamhost.com/r.cgi?287326|STYLESHOUT"} Sign Up Now