%section#contact
  .row.section-head
    .two.columns.header-col
      %h1
        %span Get In Touch.
    .ten.columns
      %p.lead
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
        voluptatem quia voluptas sit aspernatur aut odit aut fugit.
  .row
    .eight.columns
      / form
      %form#contactForm{:action => "", :method => "post", :name => "contactForm"}
        %fieldset
          %div
            %label{:for => "contactName"}
              Name
              %span.required *
            %input#contactName{:name => "contactName", :size => "35", :type => "text", :value => ""}
          %div
            %label{:for => "contactEmail"}
              Email
              %span.required *
            %input#contactEmail{:name => "contactEmail", :size => "35", :type => "text", :value => ""}
          %div
            %label{:for => "contactSubject"} Subject
            %input#contactSubject{:name => "contactSubject", :size => "35", :type => "text", :value => ""}
          %div
            %label{:for => "contactMessage"}
              Message
              %span.required *
            %textarea#contactMessage{:cols => "50", :name => "contactMessage", :rows => "15"}
          %div
            %button.submit Submit
            %span#image-loader
              %img{:alt => "", :src => "images/loader.gif"}
      / Form End
      / contact-warning
      #message-warning Error boy
      / contact-success
      #message-success
        %i.fa.fa-check>
        Your message was sent, thank you!
        %br
    %aside.four.columns.footer-widgets
      .widget.widget_contact
        %h4 Address and Phone
        %p.address
          Christian Angel Galamay
          %br
            908 Ma. Luisa Street
            %br
              Sampaloc, Manila
              %br
                %span 0906-949-0280
      .widget.widget_tweets
        %h4.widget-title Latest Tweets
        %ul#twitter
          %li
            %span
              This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
              Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum
              %a{:href => "#"} http://t.co/CGIrdxIlI3
            %bgit asdf
              %a{:href => "#"} 2 Days Ago
          %li
            %span
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
              eaque ipsa quae ab illo inventore veritatis et quasi
              %a{:href => "#"} http://t.co/CGIrdxIlI3
            %b
              %a{:href => "#"} 3 Days Ago
/ Contact Section End