%footer
  .row
    .twelve.columns
      %ul.social-links
        %li
          %a{:href => "https://www.facebook.com/christian.galamay", target: "blank"}
            %i.fa.fa-facebook
        %li
          %a{:href => "https://twitter.com/chrono0424", target: "blank"}
            %i.fa.fa-twitter
        %li
          %a{:href => "https://plus.google.com/u/1/108904045733182918607/posts", target: "blank"}
            %i.fa.fa-google-plus
        %li
          %a{:href => "https://www.linkedin.com/in/kian1213", target: "blank"}
            %i.fa.fa-linkedin
      %ul.copyright
        %li &copy; Copyright 2015 Christian Angel Galamay
    #go-top
      %a.smoothscroll{:href => "#home", :title => "Back to Top"}
        %i.icon-up-open