%header#home
  %nav#nav-wrap
    %a.mobile-btn{:href => "#nav-wrap", :title => "Show navigation"} Show navigation
    %a.mobile-btn{:href => "#", :title => "Hide navigation"} Hide navigation
    %ul#nav.nav
      %li.current
        %a.smoothscroll{:href => "#home"} Home
      %li
        %a.smoothscroll{:href => "#about"} About
      %li
        %a.smoothscroll{:href => "#resume"} Resume
      %li
        %a.smoothscroll{:href => "#portfolio"} Works
      %li
        %a.smoothscroll{:href => "#testimonials"} Testimonials
      %li
        %a.smoothscroll{:href => "#contact"} Contact
  .row.banner
    .banner-text
      %h1.responsive-headline Hi! I'm Christian Angel
      %h3
        I'm a Manila based
        = succeed "," do
          %span Web Developer
        using Ruby on Rails as my primary tool
        on developing projects. You can
        %a.smoothscroll{:href => "#about"} start scrolling
        and learn more
        = succeed "." do
          %a.smoothscroll{:href => "#about"} about me
      %hr/
      %ul.social
        %li
          %a{:href => "https://www.facebook.com/christian.galamay", target: "blank"}
            %i.fa.fa-facebook
        %li
          %a{:href => "https://twitter.com/chrono0424", target: "blank"}
            %i.fa.fa-twitter
        %li
          %a{:href => "https://plus.google.com/u/1/108904045733182918607/posts", target: "blank"}
            %i.fa.fa-google-plus
        %li
          %a{:href => "https://www.linkedin.com/in/kian1213", target: "blank"}
            %i.fa.fa-linkedin
  %p.scrolldown
    %a.smoothscroll{:href => "#about"}
      %i.icon-down-circle