%section#portfolio
  .row
    .twelve.columns.collapsed
      %h1 Check Out Some of My Works (Pending).
      / portfolio-wrapper
      #portfolio-wrapper.bgrid-quarters.s-bgrid-thirds.cf
        .columns.portfolio-item
          .item-wrap
            %a{:href => "#modal-01", :title => ""}
              %img{:alt => "", :src => "images/portfolio/coffee.jpg"}
                .overlay
                  .portfolio-item-meta
                    %h5 Coffee
                    %p Illustrration
                .link-icon
                  %i.icon-plus
        / item end
        .columns.portfolio-item
          .item-wrap
            %a{:href => "#modal-02", :title => ""}
              %img{:alt => "", :src => "images/portfolio/console.jpg"}
                .overlay
                  .portfolio-item-meta
                    %h5 Console
                    %p Web Development
                .link-icon
                  %i.icon-plus
        / item end
        .columns.portfolio-item
          .item-wrap
            %a{:href => "#modal-03", :title => ""}
              %img{:alt => "", :src => "images/portfolio/judah.jpg"}
                .overlay
                  .portfolio-item-meta
                    %h5 Judah
                    %p Webdesign
                .link-icon
                  %i.icon-plus
        / item end
        .columns.portfolio-item
          .item-wrap
            %a{:href => "#modal-04", :title => ""}
              %img{:alt => "", :src => "images/portfolio/into-the-light.jpg"}
                .overlay
                  .portfolio-item-meta
                    %h5 Into The Light
                    %p Photography
                .link-icon
                  %i.icon-plus
        / item end
        .columns.portfolio-item
          .item-wrap
            %a{:href => "#modal-05", :title => ""}
              %img{:alt => "", :src => "images/portfolio/farmerboy.jpg"}
                .overlay
                  .portfolio-item-meta
                    %h5 Farmer Boy
                    %p Branding
                .link-icon
                  %i.icon-plus
        / item end
        .columns.portfolio-item
          .item-wrap
            %a{:href => "#modal-06", :title => ""}
              %img{:alt => "", :src => "images/portfolio/girl.jpg"}
                .overlay
                  .portfolio-item-meta
                    %h5 Girl
                    %p Photography
                .link-icon
                  %i.icon-plus
        / item end
        .columns.portfolio-item
          .item-wrap
            %a{:href => "#modal-07", :title => ""}
              %img{:alt => "", :src => "images/portfolio/origami.jpg"}
                .overlay
                  .portfolio-item-meta
                    %h5 Origami
                    %p Illustrration
                .link-icon
                  %i.icon-plus
        / item end
        .columns.portfolio-item
          .item-wrap
            %a{:href => "#modal-08", :title => ""}
              %img{:alt => "", :src => "images/portfolio/retrocam.jpg"}
                .overlay
                  .portfolio-item-meta
                    %h5 Retrocam
                    %p Web Development
                .link-icon
                  %i.icon-plus
        / item end
      / portfolio-wrapper end
    / twelve columns end
    /
      Modal Popup
      \---------------------------------------------------------------
    #modal-01.popup-modal.mfp-hide
      %img.scale-with-grid{:alt => "", :src => "images/portfolio/modals/m-coffee.jpg"}/
      .description-box
        %h4 Coffee Cup
        %p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
        %span.categories
          %i.fa.fa-tag>
          Branding, Webdesign
      .link-box
        %a{:href => "http://www.behance.net"} Details
        %a.popup-modal-dismiss Close
    / modal-01 End
    #modal-02.popup-modal.mfp-hide
      %img.scale-with-grid{:alt => "", :src => "images/portfolio/modals/m-console.jpg"}/
      .description-box
        %h4 Console
        %p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
        %span.categories
          %i.fa.fa-tag>
          Branding, Web Development
      .link-box
        %a{:href => "http://www.behance.net"} Details
        %a.popup-modal-dismiss Close
    / modal-02 End
    #modal-03.popup-modal.mfp-hide
      %img.scale-with-grid{:alt => "", :src => "images/portfolio/modals/m-judah.jpg"}/
      .description-box
        %h4 Judah
        %p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
        %span.categories
          %i.fa.fa-tag>
          Branding
      .link-box
        %a{:href => "http://www.behance.net"} Details
        %a.popup-modal-dismiss Close
    / modal-03 End
    #modal-04.popup-modal.mfp-hide
      %img.scale-with-grid{:alt => "", :src => "images/portfolio/modals/m-intothelight.jpg"}/
      .description-box
        %h4 Into the Light
        %p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
        %span.categories
          %i.fa.fa-tag>
          Photography
      .link-box
        %a{:href => "http://www.behance.net"} Details
        %a.popup-modal-dismiss Close
    / modal-04 End
    #modal-05.popup-modal.mfp-hide
      %img.scale-with-grid{:alt => "", :src => "images/portfolio/modals/m-farmerboy.jpg"}/
      .description-box
        %h4 Farmer Boy
        %p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
        %span.categories
          %i.fa.fa-tag>
          Branding, Webdesign
      .link-box
        %a{:href => "http://www.behance.net"} Details
        %a.popup-modal-dismiss Close
    / modal-05 End
    #modal-06.popup-modal.mfp-hide
      %img.scale-with-grid{:alt => "", :src => "images/portfolio/modals/m-girl.jpg"}/
      .description-box
        %h4 Girl
        %p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
        %span.categories
          %i.fa.fa-tag>
          Photography
      .link-box
        %a{:href => "http://www.behance.net"} Details
        %a.popup-modal-dismiss Close
    / modal-06 End
    #modal-07.popup-modal.mfp-hide
      %img.scale-with-grid{:alt => "", :src => "images/portfolio/modals/m-origami.jpg"}/
      .description-box
        %h4 Origami
        %p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
        %span.categories
          %i.fa.fa-tag>
          Branding, Illustration
      .link-box
        %a{:href => "http://www.behance.net"} Details
        %a.popup-modal-dismiss Close
    / modal-07 End
    #modal-08.popup-modal.mfp-hide
      %img.scale-with-grid{:alt => "", :src => "images/portfolio/modals/m-retrocam.jpg"}/
      .description-box
        %h4 Retrocam
        %p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
        %span.categories
          %i.fa.fa-tag>
          Webdesign, Photography
      .link-box
        %a{:href => "http://www.behance.net"} Details
        %a.popup-modal-dismiss Close
    / modal-01 End
  / row End
/ Portfolio Section End