%section#resume
  /
    Education
    \-----------------------------------------------
  .row.education
    .three.columns.header-col
      %h1
        %span Education
    .nine.columns.main-col
      .row.item
        .twelve.columns
          %h3 St.Matthew of Blumentritt Institure of Technology
          %p.info
            Information Technology
            %span &bull;
            %em.date March 2013
          %p
            I studied here as an IT student, I learn the basics of coding, thanks to my mentors :). Lorem ipsum, still on progress what to put, 
      / item end
    -#
      .row.item
        .twelve.columns
          %h3 School of Cool Designers
          %p.info
            B.A. Degree in Graphic Design
            %span &bull;
            %em.date March 2003
          %p
            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
            Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
            nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan
            ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat
      / item end
    / main-col end
  / End Education
  /
    Work
    \-----------------------------------------------
  .row.work
    .three.columns.header-col
      %h1
        %span Work
    .nine.columns.main-col
      .row.item
        .twelve.columns
          %h3 Redtonic Solutions
          %p.info
            Ruby on Rails Developer
            %span &bull;
            %em.date June 2015 - Present
          %p
            Work with a team, using Ruby on Rails as our programming tool. We create web applications as well as integration of bootstrap template to rails app.
          %p
            Lorem ipsum,, more additional infos soon :)
      / item end
      .row.item
        .twelve.columns
          %h3 Information Mangers
          %p.info
            Junior Application Developer
            %span &bull;
            %em.date May 2013 - June 2015
          %p
            My first job as a programmer. We maintain big business application for clients, doing additional request and additional features.
          %p
            Lorem ipsum dolor set amet,, more info soon
      / item end
    / main-col end
  / End Work
  /
    Skills
    \-----------------------------------------------
  .row.skill
    .three.columns.header-col
      %h1
        %span Skills
    .nine.columns.main-col
      %p
        Below are list of my skills and ... lorem ipsum more txt to come
      .bars
        %ul.skills
          %li
            %span.bar-expand.ruby
            %em Ruby on Rails
          %li
            %span.bar-expand.html5
            %em HTML5
          %li
            %span.bar-expand.css3
            %em CSS3
          %li
            %span.bar-expand.jquery
            %em Jquery
          %li
            %span.bar-expand.coffee
            %em Coffeescript
          %li
            %span.bar-expand.react
            %em ReactJs
      / end skill-bars
    / main-col end
  / End skills
/ Resume Section End